<ion-view view-title="Numbers">
  <ion-content>
    <h1 class="title">Number '1'</h1>
    <br />
    <br />
    <img class="image" src="img/numbers/1.gif" alt="Sign for '1'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Extend right index finger</p>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" disabled>Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.2">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
