<ion-view view-title="Short Phrases">
  <ion-content>
    <h1 class="title">Good</h1>
    <br />
    <br />
    <img class="image" src="img/phrases/good.png" alt="Sign for 'Good'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Close hand with right thumb up and move forward.</p>
 </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.howareyou">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.sad">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
