<ion-view view-title="Short Phrases">
  <ion-content>
    <h1 class="title">Hello/Bye</h1>
    <br />
    <br />
    <img class="image" src="img/phrases/hellobye.png" alt="Sign for 'Hello/Bye'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Wave your right hand by the side of your head.</p>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" disabled>Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.morning">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
