<ion-view view-title="British Sign Language" hide-nav-bar="true" >
<ion-content class="pane" scroll="false" >
  <selection class="login-containter">
    <div class="col header text-center">
      <img src="img/flag.jpg" alt="British Flag" class="logo" />
    </div>
    <div class="col button-row text-center">
      <button class="button button-block" ng-click="openModal(1)">Login</button>
    </div>
    <div class="col button-row text-center">
      <button class="button button-block" ng-click="openModal(2)">Register</button>
    </div>
    <div class="col text-center">
      Continue as a <strong><a href="#/app/main">Guest User</a></strong>
    </div>
  </selection>
</ion-content>
</ion-view>
