<ion-view view-title="Main Menu" hide-nav-bar="true">
  <ion-header-bar>
    <h1 class="title">Choose a Category</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-log-out" ui-sref="app.login"> 
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
         <label class="item">
        <button class="button button-block" type="button" ui-sref="app.alphabet">Alphabet</button>
      </label>
      <label class="item">
        <button class="button button-block" type="button" ui-sref="app.numbers">Numbers</button>
      </label>
      <label class="item">
        <button class="button button-block" type="button" ui-sref="app.shortphrases">Short Phrases</button>
      </label>
      <label class="item">
        <button class="button button-block" type="button" ui-sref="app.quiz">Quiz</button>
      </label>
    </div>
  </ion-content>
</ion-view>
