<ion-view view-title="Short Phrases">
  <ion-content>
    <h1 class="title">Morning</h1>
    <br />
    <br />
    <img class="image" src="img/phrases/morning.png" alt="Sign for 'Morning'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt"">Begin by bending your right hand. Starting at the far side of your chest, then near side of chest, tap using fingertips.</p>
</ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.hellobye">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.afternoon">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
