<ion-view view-title="Short Phrases">
  <ion-content>
    <h1 class="title">Night</h1>
    <br />
    <br />
    <img class="image" src="img/phrases/night.png" alt="Sign for 'Night'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Open both hand and face palms inwards. Move down in front of body, finishing horizontally.</p>
 </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.afternoon">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.howareyou">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
