<ion-view view-title="Quiz">
  <ion-header-bar>
    <h1 class="title">Test Yourself!</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-log-out" ui-sref="app.login"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item">
        <button class="button button-block" type="button" ui-sref="app.alphabetquiz">Alphabet Quiz</button>
      </label>
      <label class="item">
        <button class="button button-block" type="button" ui-sref="app.numbersquiz">Numbers Quiz</button>
      </label>
      <label class="item">
        <button class="button button-block" type="button" ui-sref="app.shortphrasesquiz">Short Phrases Quiz</button>
      </label>
    </div>
  </ion-content>
</ion-view>
