<ion-view view-title="Alphabet">
  <ion-content>
    <h1 class="title">Letter 'Q'</h1>
    <br />
    <br />
    <img class="image" src="img/letters/Q.png" alt="Sign for 'Q'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Left index finger and thumb tips touching. Right index finger hangs over thumb knuckle.</p>
</ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.SignP">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.SignR">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
