<ion-view view-title="Alphabet">
  <ion-content>
    <h1 class="title">Letter 'B'</h1>
    <br />
    <br />
    <img class="imageB" src="img/letters/B.png" alt="Sign for 'B'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Hold both hands with the fingertips touching the tip of the thumbs. Fingernails of both hands are touching.</p>
  </ion-content>
 
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.SignA">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.SignC">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
  
</ion-view>
