<ion-view view-title="Alphabet">
  <ion-content>
    <h1 class="title">Letter 'Y'</h1>
    <br />
    <br />
    <img class="image" src="img/letters/Y.png" alt="Sign for 'Y'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Extend left thumb whilst right index touches base of thumb.</p>
</ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.SignX">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.SignZ">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
