<ion-view view-title="Alphabet">
  <ion-content>
    <h1 class="title">Letter 'O'</h1>
    <br />
    <br />
    <img class="image" src="img/letters/O.png" alt="Sign for 'O'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Right index finger points to extended left ring finger.</p>
</ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.SignN">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.SignP">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
