<ion-view view-title="Alphabet">
  <ion-content>
    <h1 class="title">Letter 'P'</h1>
    <br />
    <br />
    <img class="image" src="img/letters/P.png" alt="Sign for 'P'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Pinch right index finger and thymb. Hold against the tip of left index finger.</p>
 </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.SignO">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.SignQ">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
