<ion-view view-title="Alphabet">
  <ion-content>
    <h1 class="title">Letter 'T'</h1>
    <br />
    <br />
    <img class="image" src="img/letters/T.png" alt="Sign for 'T'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Tip of right index touches palm of left hand.</p>
   </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.SignS">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.SignU">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
