<ion-view view-title="Short Phrases">
  <ion-content>
    <h1 class="title">Sorry</h1>
    <br />
    <br />
    <img class="image" src="img/phrases/sorry.png" alt="Sign for 'Sorry'" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Make a circular movement with you hand held in a fist.</p>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.welcome">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" >
      <button class="button  button-icon icon ion-chevron-right icon-right text-left " disabled>Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
