<ion-view view-title="Short Phrases">
  <ion-content>
    <h1 class="title">You're Welcome</h1>
    <br />
    <br />
    <img class="image" src="img/phrases/welcome.png" alt="Sign for 'You're Welcome" align="middle" />
    <br />
    <br />
    <p class="bodyTxt">Bend both hands at the knuckles with palms facing inwards. Move in short repeated movements.</p>
</ion-content>
  <ion-footer-bar align-title="center" class="bar">
    <div class="buttons">
      <button class="button  button-icon icon ion-chevron-left icon-left text-right" ui-sref="app.thanksplease">Back</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ui-sref="app.sorry">
      <button class="button  button-icon icon ion-chevron-right icon-right text-left">Next</button>
    </div>
  </ion-footer-bar>
</ion-view>
